body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    background-color: #800000;
    color: white;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

.btn-outline-light {
    color: #800000;
}

/* Something is wrong, just doing the quick fix. */
.dropdown-menu-right {
    left: -128px;
}

.dropdown-item {
    cursor: pointer;
}

.settingsHeading {
    color: #bbb;
    font-size: 2.0em;
    position: relative;
    top: 6px;
}

.btn-secondary.active.custom-file-control:focus:before, .btn-secondary.active.custom-file-control:hover:before, .btn-secondary.active.focus.custom-file-control:before, .btn-secondary.custom-file-control:active.focus:before, .btn-secondary.custom-file-control:active:focus:before, .btn-secondary.custom-file-control:active:hover:before, .btn.btn-secondary.active.focus, .btn.btn-secondary.active:focus, .btn.btn-secondary.active:hover, .btn.btn-secondary:active.focus, .btn.btn-secondary:active:focus, .btn.btn-secondary:active:hover, .open>.btn-secondary.dropdown-toggle.custom-file-control:focus:before, .open>.btn-secondary.dropdown-toggle.custom-file-control:hover:before, .open>.btn-secondary.dropdown-toggle.focus.custom-file-control:before, .open>.btn.btn-secondary.dropdown-toggle.focus, .open>.btn.btn-secondary.dropdown-toggle:focus, .open>.btn.btn-secondary.dropdown-toggle:hover {
    /* color: #6c757d;
    background-color: hsla(0,0%,60%,.4);
    border-color: hsla(0,0%,60%,.4); */

    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

/* Hidden in latest version anyway */
input[type=checkbox], input[type=radio] {
    outline: none;
}  

input[type=radio] {
    display: none;
}

hr {
    margin: 30px 0;
    border: none;
    height: 3px;
    background-color: #80704e;
}

#latestPhoto {
    max-height: 300px;
}

.delete-button {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    line-height: 25px;
}